
.modern-glass-mobile{
  background: rgba(95, 52, 155, 0.85);
  border: 1px solid white;
}

.modern-glass {
  background: rgba(95, 52, 155, 0.85);
  border-bottom: 1px solid white;
  backdrop-filter: blur(10px);
}

.modern-nav-item {
  border-radius: 8px;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
}

.modern-nav-item:hover {
  background: hsla(0, 0%, 100%, .1);
}

.modern-nav-item-mobile {
  border-radius: 8px;
  transition: all .3s ease;
}

.modern-nav-item-mobile:hover {
  background: hsla(0, 0%, 100%, .1);
}